html {
  font-family: Roboto, Helvetica, sans-serif;
  background: #F9F9FA;
}

body {
  margin: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

a {
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Navegação */

nav {
  display: block;
  background: #1d1d1d;
  box-shadow: 0 1.5px 1.5px grey;
}

#nav-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
}

.page-link {
  padding: 12px;
  text-decoration-line: none;
  font-weight: bold;
  color: white;
}

.page-link:hover {
  background: #3d3d3d;
}

.page-content {
  padding: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

footer {
  text-align: center;
}


/* Home */

#social a {
  background: #d5d5d5;
  color: #2e3436;
  padding: 6px;
  text-decoration: none;
}

#social a:hover {
    background: #c2c2c2;
}

/* Responsive Design */

@media screen and (max-width: 500px) {
  nav {
    display: grid;
    padding: 0;
  }
  
  .page-link {
    border-bottom: 1px solid #4d4d4d;
  }
}
