<h1>Fábio Meneghetti</h1>

<div id="info">
  <p>Sou um estudante de mestrado em Matemática no <a href="https://www.ime.unicamp.br">IMECC</a> (Unicamp).</p>
</div>

<h2>Educação</h2>
<ul>
  <li>Bacharelado em Matemática - Universidade Estadual de Campinas (Unicamp), 2017</li>
  <li>Mestrado em Matemática - Universidade Estadual de Campinas (Unicamp), atualidade</li>
</ul>

<h2>Interesses</h2>
<ul>
  <li>Códigos corretores de erros</li>
  <li>Reticulados</li>
  <li>Criptografia</li>
  <li>Matemática discreta</li>
  <li>Software livre</li>
</ul>

<h2>Apresentações</h2>
<ul>
  <li><a href="/documents/divulgamat2016.pdf">Uma Introdução à Teoria de Códigos</a> - DivulgaMat (2016)</li>
</ul>

<br/>

<table id="social">
  <tbody>
  <tr>
    <td><a href="http://lattes.cnpq.br/5029099102514492"><i class="fa fa-address-card" aria-hidden="true"></i> CV Lattes</a></td>
    <td><a href="https://github.com/fabiom"><i class="fa fa-github" aria-hidden="true"></i> Github</a></td>
    <td><a href="https://masto.donte.com.br/@fabiom"><i class="fa fa-mastodon" aria-hidden="true"></i> Mastodon</a></td>
  </tr>
  </tbody>
</table>

<br/><br/>
