<h1>Use Softwares Éticos</h1>

<h3>Uma lista de <a href="https://www.gnu.org/philosophy/free-sw.pt-br.html">softwares livres </a>, que respeitam sua privacidade e liberdade</h3>

<p><span style="font-size:14px">Nós vivemos em uma sociedade globalizada cada vez mais integrada ao mundo digital. A tecnologia avança cada vez mais rápido, e como consequência nós ficamos sem tempo para discutir as consequências éticas e sociais dos dispositivos e dos softwares que usamos. As implicações desse uso compulsivo e indiscriminado de novas tecnologias tem começado a aparecer. Edward Snowden nos mostrou que os governos estão sendo vigilantes de populações inteiras, e têm acesso a todas as nossas conversas privadas. As empresas que exploram nossos dados também estão aparecendo: Google, Facebook, Microsoft; são empresas tentam armazenar o máximo possível de informações do usuário, e vender essas informações pessoais para empresas que fazem propaganda direcionada. A melhor forma de alcançar uma mudança é através de reformas políticas e sociais. Para isso é importante que troquemos os softwares proprietários, centralizados e capitalistas por alternativas livres, éticas, comunitárias, descentralizadas e que respeitem a privacidade do usuário. O objetivo desta página é listar algumas dessas alternativas, e também ferramentas que sejam úteis para se obter privacidade on-line.</span></p>
<hr />

<p><br/></p>

<h3><i class="fa fa-desktop" aria-hidden="true"></i>  Sistemas Operacionais</h3>
<ul>
<li><strong><a href="https://www.debian.org/">Debian</a>:</strong> um sistema operacional livre, estável e seguro, criado por uma comunidade que se preocupa com a ética; todos os contribuidores do Debian devem concordar com um <a href="https://www.debian.org/social_contract">contrato social</a></li>
<li><strong><a href="https://tails.boum.org/">Tails</a>:</strong> um sistema operacional baseado no Debian, para se instalar em CDs e pen-drives. O Tails faz todas as suas conexões à internet através da rede <a href="https://www.torproject.org/">Tor</a>, e portanto permite a navegação anônima e que os usuários de países sem liberdade escapem da censura. Além disso, Tails inclue por padrão várias ferramentas criptográficas e não deixa rastros no computador. Foi inclusive <a href="http://www.wired.com/2014/04/tails">usado por Edward Snowden</a> para evitar o rastramento da NSA</li>
</ul>

<h3><i class="fa fa-globe" aria-hidden="true"></i>  Navegadores de Internet</h3>
<ul>
<li><strong><a href="https://www.qupzilla.com/">Qupzilla</a>:</strong> um navegador simples, livre, com um bloqueador de propagandas integrado, e que respeita os usuários</li>
<li><strong><a href="https://www.waterfoxproject.org/">Waterfox</a>:</strong> uma versão modificada do Firefox, que remove recursos indesejados, e que procura respeitar a privacidade dos usuários</li>
<li><strong><a href="https://github.com/Eloston/ungoogled-chromium">ungoogled-chromium</a>:</strong> uma modificação do Google Chrome para remover integração com o Google e melhorar privacidade, controle e transparência</li>
<li><strong><a href="https://wiki.gnome.org/Apps/Web">Epiphany</a>:</strong> o navegador padrão do projeto GNOME; simples e com um bloqueador de propagandas integrado</li>
<li><strong><a href="https://www.gnu.org/software/icecat/">GNU Icecat</a>:</strong> um navegador criado pelo projeto <a href="https://gnu.org/">GNU</a>, com base no Firefox, que inclui várias configurações para respeitar sua privacidade, e bloqueia JavaScript não-livre</li>
<li><strong><a href="https://www.torproject.org/">Tor Browser</a>:</strong> um navegador baseado no Firefox que fornece total anonimato, encriptando seus dados e fazendo-os passar por outros endereços de IP antes de chegar no seu computador. Os provedores de acesso a internet também ficam incapazes de rastrear as páginas que os usuários acessam. A navegação pode ser mais lenta neste navegador</li>
<li><strong><a href="https://www.stoutner.com/privacy-browser/">Privacy Browser</a>:</strong> um navegador para Android com foco em privacidade e seguraça, com opções de desabilitar cookies e javascript</li>
</ul>

<h3><i class="fa fa-puzzle-piece" aria-hidden="true"></i>  Extensões para Navegadores</h3>
<p>Nota: extensões para o Firefox funcionam com Waterfox, GNU Icecat e Tor Browser. Extensões para Chrome funcionam com ungoogled-chromium</p>
<ul>
<li><strong><a href="https://github.com/gorhill/uBlock">uBlock Origin</a>:</strong> bloqueador de propagandas e de rastreadores extremamente leve, e simples. Vem por padrão com uma grande e abrangente lista de filtros que podem ser ativados para bloqueio. <i class="fa fa-firefox" aria-hidden="true"></i> <i class="fa fa-chrome" aria-hidden="true"></i> <i class="fa fa-opera" aria-hidden="true"></i> <i class="fa fa-edge" aria-hidden="true"></i></li>
<li><strong><a href="https://www.eff.org/privacybadger">Privacy Badger</a>:</strong> uma extensão criada pela fundação sem fins luctrativos <a href="https://www.eff.org/">EFF</a>, que bloqueia elementos e propagandas que rastreiam os usuários. <i class="fa fa-firefox" aria-hidden="true"></i> <i class="fa fa-chrome" aria-hidden="true"></i> <i class="fa fa-opera" aria-hidden="true"></i></li>
<li><strong><a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>:</strong> uma extensão criada pela <a href="https://www.eff.org/">EFF</a> que obriga o navegador a acessar sites utilizando o protocolo HTTPS ao invés de HTTP (quando existir essa opção). Isso aumenta muito a segurança dos usuários, pois os sites HTTPS são criptografados desde o servidor até o seu computador, impedindo a interceptação dos dados, e utilizam um sistema de certificados e assinaturas digitais que garente a autenticidade da página. <i class="fa fa-firefox" aria-hidden="true"></i> <i class="fa fa-chrome" aria-hidden="true"></i> <i class="fa fa-opera" aria-hidden="true"></i></li>
</ul>

<h3><i class="fa fa-folder" aria-hidden="true"></i>  Sincronização de Arquivos</h3>
<ul>
<li><strong><a href="https://syncthing.net/">Syncthing</a>:</strong> um programa de sincronização de arquivos descentralizado, rápido e que encripta os dados durante a tranferência. Disponível para Windows, macOS, Linux e Android</li>
<li><strong><a href="https://nextcloud.com/">NextCloud</a>:</strong> um programa de nuvem pessoal segura e privada. É possível baixar e hospedar em seu próprio servidor ou utilizar um dos <a href="https://nextcloud.com/providers/">provedores</a></li>
</ul>

<h3><i class="fa fa-users" aria-hidden="true"></i>  Redes Sociais</h3>
<ul>
<li><strong><a href="https://joinmastodon.org">Mastodon</a>:</strong> rede social livre, federada, semelhante ao twitter. Uma lista de instâncias disponíveis está disponível em <a href="https://instances.social/list">instances.social/list</a></li>
<li><strong><a href="https://diasporafoundation.org/">diaspora*</a>:</strong> uma rede social, semelhante ao facebook, mas totalmente descentralizada. Isso significa que não existe um servidor central, mas vários servidores (“pods”) ao redor do mundo que se comunicam. Você pode criar uma conta no pod que preferir, ou até criar o seu próprio, e poderá normalmente se comunicar com pessoas de outros pods. No Brasil, os dois principais pods são <a href="https://diasporabr.com.br/">diasporabr.com.br</a> e <a href="https://diasporabrazil.org/">diasporabrazil.org</a>. Esta rede social também é software livre, encriptada, e respeita a privacidade do usuário</li>
<li><strong><a href="https://gnu.io/social/">GNU social</a>:</strong> uma rede social, semelhante ao twitter, mas totalmente descentralizada. Criada pelo projeto <a href="https://gnu.org/">GNU</a>, você pode adicionar uma conta no servidor que quiser (inclusive criar seu próprio servidor) e se comunicar com usuários de outros servidores. Alguns servidores abertos são <a href="https://quitter.se/">Quitter.se</a>, <a href="https://quitter.no/">Quitter.no</a>, <a href="https://loadaverage.org">LoadAverage</a>, e no Brasil existe o servidor do projeto LibrePlanet Brasil em <a href="http://social.libreplanetbr.org/">social.libreplanetbr.org</a> (mais informações e criação de contas <a href="http://wiki.libreplanetbr.org/Servi%C3%A7os/">aqui!</a>)</li>
</ul>

<h3><i class="fa fa-comments" aria-hidden="true"></i>  Comunicação</h3>
<ul>
<li><strong><a href="https://tox.chat/">Tox</a>:</strong> um programa de troca de mensagens e ligações descentralizado, seguro e desenvolvido pela própria comunidade (Linux/macOS/Windows/Android/iOS)</li>
<li><strong><a href="https://ring.cx/">Ring</a>:</strong> um programa de troca de mensagens e ligações descentralizado e seguro, que suporta múltiplos dispositivos (Linux/macOS/Windows/Android)</li>
<li><strong><a href="https://signal.org/">Signal</a>:</strong> um aplicativo de mensagens e ligações criptografadas via internet, que utiliza uma criptografia reconhecida academicamente e comprovadamente segura <a href="https://signal.org/android/apk/">[download do .apk]</a> (Android/iOS)</li>
<li><strong><a href="https://briarproject.org/">Briar</a>:</strong> um aplicativo de mensagens descentralizado, criptografado e que funciona via rede Tor ou Bluetooth. Ainda está em desenvolvimento, e um repositório com a versão inclompleta e instável pode ser encontrado <a href="https://grobox.de/fdroid/">aqui</a></li>
</ul>

<h3 id="aplicativos-de-android"><i class="fa fa-android" aria-hidden="true"></i>  Aplicativos de Android</h3>
<ul>
<li><strong><a href="https://f-droid.org/">F-Droid</a>:</strong> uma loja de aplicativos alternativa, desenvolvida pela comunidade, que distribui apenas aplicativos software livre, e avisa sobre eventuais <a href="https://f-droid.org/wiki/page/Antifeatures">anti-recursos</a></li>
<li><strong><a href="https://github.com/yeriomin/YalpStore">Yalp Store</a>:</strong> um programa que permite baixar aplicativos da loja Google Play, sem a necessidade de se instalar os serviços proprietários da Google</li>
</ul>

<h3><i class="fa fa-search" aria-hidden="true"></i>  Mecanismos de Pesquisa</h3>
<ul>
<li><strong><a href="https://duckduckgo.com/">DuckDuckGo</a>:</strong> um mecanismo de pesquisa que <a href="http://donttrack.us/">não rastreia os usuários</a>, que não grava informações pessoais como endereço de IP, e que <a href="http://dontbubble.us/">não filtra os resultados</a> de acordo com o usuário como o Google faz. Parte dos lucros do buscador são convertidos em doações para projetos de software livre escolhidos pela comunidade</li>
<li><strong><a href="https://startpage.com/">StartPage</a>:</strong> um mecanismo de pesquisa que fornece os mesmos resultados que o Google, mas sem rastrear os usuários, sem filtrar os resultados e respeitando a privacidade</li>
</ul>

<h3><i class="fa fa-envelope" aria-hidden="true"></i>  Serviços de Email</h3>
<ul>
<li><strong><a href="https://protonmail.com">ProtonMail</a>:</strong> serviço de emails seguro e privado</li>
<li><strong><a href="https://riseup.net/">RiseUp</a>:</strong> um serviço que fornece emails, listas de emails, VPN, chat e armazenamento de arquivos para pessoas e grupos trabalhando em mudanças sociais liberatórias. Os dados dos usuários são guardados criptografados, e eles dependem de doações para manter o serviço funcionando; servidores nos EUA</li>
<li><strong><a href="https://disroot.org/">Disroot</a>:</strong> fornece emails, nuvem, e serviços online; são baseados nos princípios de liberdade, privacidade, federação e descentralização; servidores na Holanda</li>
<li><strong><a href="https://tutanota.com/">Tutanota</a>:</strong> serviço de emails criptografado, gratuito, e que utiliza software livre; servidores na Alemanha</li>
</ul>

<h3><i class="fa fa-envelope-square" aria-hidden="true"></i>  Clientes de Email</h3>
<p>Para maior segurança e privacidade no envio e recebimento de emails, é recomendada a utilização de <a href="https://emailselfdefense.fsf.org/pt-br/">criptografia PGP</a>.</p>
<ul>
<li><strong><a href="http://www.claws-mail.org/">Claws Mail</a>:</strong> um programa leve, rápido, simples e muito customizável para gerenciar emails, com suporte PGP (Linux/Windows)</li>
<li><strong><a href="https://www.thunderbird.net/">Thunderbird</a>:</strong> software da Mozilla simples para gerenciar emails. A extensão <a href="https://www.enigmail.net/">Enigmail</a> fornece suporte a PGP (Linux/Mac/Windows)</li>
<li><strong><a href="https://k9mail.github.io/">K-9 Mail</a>:</strong> um aplicativo de Android para gerenciar email, com suporte a PGP</li>
</ul>

<h3><i class="fa fa-file-text" aria-hidden="true"></i>  Editores de Documentos</h3>
<ul>
<li><strong><a href="https://pt-br.libreoffice.org/">LibreOffice</a>:</strong> um conjunto de programas livre para editar documentos de texto, planilhas, apresentações, desenhos e bancos de dados. São desenvolvidos pela <a href="https://www.documentfoundation.org/">The Document Foundation</a>, uma fundação sem fins lucrativos (Linux/macOS/Windows)</li>
</ul>

<h3><i class="fa fa-key-modern" aria-hidden="true"></i>  Gereciadores de Senhas</h3>
<ul>
<li><strong><a href="https://www.keepassxc.org/">KeePassXC</a>:</strong> um gerenciador de senhas offline que criptografa todas as senhas utilizando uma senha-mestra. Possui ainda um gerador de senhas aleatórias, permitindo que o usuário tenha uma senha diferente para cada serviço, e realiza preenchimento automático destas senhas no navegador</li>
<li><strong><a href="https://f-droid.org/packages/com.android.keepass/">KeePassDroid</a>:</strong> uma versão para Android dos gerenciadores de senhas KeePass/KeePassXC</li>
</ul>

<h3><i class="fa fa-play-circle" aria-hidden="true"></i>  Reprodutores de Vídeos</h3>
<ul>
<li><strong><a href="https://mpv.io/">mpv</a>:</strong> um tocador de vídeos leve e minimalista, mas poderoso; com comandos pelo teclado (Linux/macOS/Windows/Android)</li>
<li><strong><a href="https://www.videolan.org/vlc/">VLC</a>:</strong> um tocador de vídeos completo, com muitos recursos e simples de utilizar (Linux/macOS/Windows/Android/iOS)</li>
<li><strong><a href="https://rg3.github.io/youtube-dl/download.html">youtube-dl</a>:</strong> um baixador de vídeos de <a href="https://rg3.github.io/youtube-dl/supportedsites.html">vários sites</a>, com muitas opções de download (Linux/macOS/Windows)</li>
<li><strong><a href="https://newpipe.schabi.org/">NewPipe</a>:</strong> um aplicativo de Android que reproduz e baixa vídeos do YouTube, com muitas opções e recursos</li>
</ul>

<h3><i class="fa fa-map" aria-hidden="true"></i>  Mapas</h3>
<ul>
<li><strong><a href="https://www.openstreetmap.org/">OpenStreetMap</a>:</strong> um mapa aberto, completo e contruído pela comunidade, que pode ser acessado pelo site ou por outros softwares</li>
<li><strong><a href="https://wiki.openstreetmap.org/wiki/OsmAnd">OsmAnd</a>:</strong> um aplcativo livre de mapas, que obtém dados do OpenStreetMap e da Wikipedia, com funcionalidade de mapas offline. Disponível da F-Droid como <a href="https://f-droid.org/en/packages/net.osmand.plus/">OsmAnd~</a> (Android/iOS)</li>
<li><strong><a href="https://wiki.gnome.org/Apps/Maps">Gnome Maps</a>:</strong> um programa de mapas e navegação, que obtém dados do OpenStreetMap (Linux)</li>
</ul>

<h3><i class="fa fa-picture-o" aria-hidden="true"></i>  Editores de Imagens</h3>
<ul>
<li><strong><a href="https://www.gimp.org/">GIMP</a>:</strong> um editor de imagens e projetos gráficos livre e poderoso, com muitos <a href="https://www.gimp.org/tutorials/">tutoriais</a> (Linux/macOS/Windows)</li>
<li><strong><a href="https://inkscape.org/pt-br/">InkScape</a>:</strong> uma ferramenta livre para edição de imagens e documentos vetoriais (Linux/macOS/Windows)</li>
</ul>
<p><br/></p>

<h2>Páginas similares</h2>
<p>Me inspirei em outras páginas para construir esta. Aqui estão algumas delas.</p>
<ul>
<li><a href="https://prism-break.org/en/">Prism Break</a></li>
<li><a href="https://www.privacytools.io/">Privacy Tools</a></li>
<li><a href="http://www.temboinalinha.org/">Tem boi na linha?</a></li>
<li><a href="https://securityinabox.org/pt/">Security in a Box</a></li>
</ul>
