<header class="site-header">
  <nav>
  <div id="nav-links">
    <a class="page-link" href="/">Posts</a>
    <a class="page-link" href="/sobre">Sobre</a>
    <a class="page-link" href="/software">Softwares Éticos</a>
    <a class="page-link" href="/livros-mat">Livros Livres</a>
  </div>
  </nav>
</header>

<div class="page-content">

